@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}
table{
    margin: auto;
}
td{
    border: 2px solid white;
    width: 50px;
    height: 50px;
    background-color:aqua;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    position: relative;
}
.tiv{
    border: 2px solid white;
    width: 50px;
    height: 50px;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}
td sup{
    font-size: 8px;
    position: absolute;
    left: 5px;
    top: 5px;
    font-family: 'Roboto', sans-serif;
}
td sub{
    font-size: 8px;
    position: absolute;
    left: 17px;
    top: 40px;
    font-family: 'Roboto', sans-serif;
}
.table11{
    display: flex;
    justify-content: center;
    margin: 30px 0 0 0 ;
}
.ed{
    position: absolute;
    top: 130px;
    left: 600px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}
.ed1{
    background-color: #939499;
    color: #939499;
    font-size: 10px;
}
.em{
    position: absolute;
    top: 160px;
    left: 600px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}
.em1{
    background-color: #C11C2C;
    color: #C11C2C;
    font-size: 10px;
}
.el{
    position: absolute;
    top: 190px;
    left: 600px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}
.el1{
    background-color: #F7AF2F;
    color: #F7AF2F;
    font-size: 10px;
}
.en{
    position: absolute;
    top: 220px;
    left: 600px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}
.en1{
    background-color: #5548A0;
    color: #5548A0;
    font-size: 10px;
}
.ek{
    position: absolute;
    top: 130px;
    left: 750px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}
.ek1{
    background-color: #09653C;
    color: #09653C;
    font-size: 10px;
}
.ep{
    position: absolute;
    top: 160px;
    left: 750px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}
.ep1{
    background-color: #84C241;
    color: #84C241;
    font-size: 10px;
}
.er{
    position: absolute;
    top: 190px;
    left: 750px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}
.er1{
    background-color: #019EDD;
    color: #019EDD;
    font-size: 10px;
}
.ey{
    position: absolute;
    top: 220px;
    left: 750px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}
.ey1{
    background-color: #0267A8;
    color: #0267A8;
    font-size: 10px;
}
.eu{
    position: absolute;
    top: 130px;
    left: 900px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}
.eu1{
    background-color: #F46E23;
    color: #F46E23;
    font-size: 10px;
}
.ei{
    position: absolute;
    top: 160px;
    left: 900px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}
.ei1{
    background-color: #C45058;
    color: #C45058;
    font-size: 10px;
}
.eo{
    position: absolute;
    top: 190px;
    left: 900px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}
.eo1{
    background-color: #01AA9E;
    color: #01AA9E;
    font-size: 10px;
}
.supp{
    font-size: 20px;
    border: wheat 1px solid;
    position: absolute;
    top: 2px;
    left: 2px;
}
.subb{
    font-size: 15px;
    position: absolute;
    top: 85px;
    left: 35px;
    border: wheat 1px solid;
}
.tddd span{
    border: wheat 1px solid;

}
